<?xml version="1.0"?>

<launch>

  <arg name="world_name" default="$(find jaguar_gazebo)/worlds/empty.world"/>

  <include file="$(find jaguar_gazebo)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <include file="$(find jaguar_gazebo)/launch/spawn_jaguar.launch">

  </include>

</launch>
