<?xml version="1.0"?>

<launch>
  <arg name="rulah_simulation" default="true"/>

  <arg name="world_name" default="$(find jaguar_gazebo)/worlds/outdoor_terrain.world"/>
  <arg name="3D_enabled" default="true"/>
  <include file="$(find jaguar_gazebo)/launch/outdoor_terrain_world.launch">

    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->

  </include>

  <include file="$(find jaguar_gazebo)/launch/spawn_jaguar.launch">
  </include>

</launch>