<?xml version="1.0"?>
<launch>


  <arg name="robot_name" default="jaguar"/>
  <arg name="gazebo_interface" default="$(find jaguar_gazebo)/launch/empty.yaml"/>



  <!-- Gazebo interface configuration for message_relay -->
  <rosparam file="$(arg gazebo_interface)" command="load"/>
  <rosparam subst_value="true">
    from_sim:
      to: /sim/
      time_offset_operation: add_offset
      tf_prefix: /
      prefix_operation: selective_remove
      global_frames:
        - map
        - world

    to_sim:
      from: /sim/
      time_offset_operation: remove_offset
      tf_prefix: /
      prefix_operation: selective_add
      global_frames:
        - map
        - world
  </rosparam>

  <node pkg="message_relay" type="message_relay_node" name="gazebo_export_relay" respawn="true" respawn_delay="5" >
    <param name="parameter_namespace" value="from_sim"/>
  </node>

  <node pkg="message_relay" type="message_relay_node" name="gazebo_import_relay" respawn="true" respawn_delay="5" >
    <param name="parameter_namespace" value="to_sim"/>
  </node>

</launch>
